/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body{
    font-family: 'Commissioner', sans-serif;
}


.clearfix::after{
    content:"";
    display: table;
    clear: both;
}

/* HEADER */
.container-head{
    width: 80%;
    margin: auto;
    text-align: center;
}

h1{
    margin-top: 30px;
    margin-bottom: 40px;
    color: #e53170;
}

.container-head p{
    margin-bottom: 50px;
}


/* MAIN */
.container-main{
    width: 75%;
    margin: auto;
}

.col{
    width: calc(100% / 3.2);
    float: left;
    background-color: #0f0e17;
    margin-bottom: 50px;
    margin-right: 20px;
}

img{
    width: 100px;
    float: left;
    margin-right: 10px;
}


.content p:first-of-type{
    height: 25px;
    font-weight: 700;
    margin-top: 5px;
}

.content p{
    float: right;
    width: 70%;
    padding-bottom: 5px;
}

.info{
    font-size: 14px;
}

.white-text{
    color: white;
}
.content p:last-child{
    color: #4dccf2;
}
